.header {
  background-image: url('./images/nav-bg.png');
  background-repeat: repeat-x;
  background-size: cover;
  padding: 20px 0;
  .navbar-toggle{
    outline: none;
    background: none;
    color: #fff;
    border: none;
    font-size: 25px;
  }
  .nav__mobile {
    display: none;
    .nav__list {
      display: none;
      position: absolute;
      z-index: 9;
      width: 100%;
      background: #2a2b2c;
      left: 0px;
      top: 65px;
      padding: 0px;
      margin: 0px;
      .nav-item {
        padding: 10px 20px;
      }
    }
    a {
      color: $white;
      text-decoration: none;
    }
  }
  .logo-wrapper {
    padding: 5px 0 0 0;
  }
  .navbar-wrapper {
    a {
      text-decoration: none;
    }
    .nav {
      display: inline-block;
      &__list {
        margin: 0;
        padding: 0;
        .nav-item {
          display: inline-block;
          a {
            color: $lightgray;
            padding: 0 25px;
            font-size: 16px;
            &:hover {
              color: $white;
            }
          }
        }
      }
    }
    .button{
      display: inline-block;
      background-color: $orange;
      color: $white;
      border: 1px solid $orange;
      border-radius: 50px;
      padding: 5px 20px 5px 40px;
      background-image: url('./images/getintouch.png');
      background-repeat: no-repeat;
      background-position: 15px center;
    }
  }
}

@media (max-width: $tablet-max-width) {
  .header {
    .nav__mobile {
      display: block;
    }
    .navbar-wrapper {
      .nav {
        display: none;
      }
      .button{
        padding: 5px 20px 5px 20px;
        background-position: center center;
        background-color: transparent;
        text-indent: -9999px;
        border: none;
        width: 0;
      }
    }
  }
}
