@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import 'config/**/*.scss';
@import "variables";
@import 'header';
@import 'banner';
@import 'about';
@import 'testimonials';
@import 'contactus';
@import 'footer';

html,
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  color: #494441;
}
.container {
  max-width: $desktop-max-width;
  margin: 0 auto;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: $desktop-max-width) {
  .container {
    padding: 0 20px;
  }
}
