<section class="about">
  <div class="container">
    <div class="about__inner">
      <div class="about__cont left">
        <h2 class=about__head>Mauris id bibendum est. Proin dapibus sollicitudin iaculis, Maecenas condimentum maximus laoreet.
        </h2>
        <p class="about__subtext">In maximus euismod egestas. Fusce tincidunt posuere est non elementum. Vivamus tincidunt eleifend nisl et gravida. Aenean in lorem ultrices, pellentesque augue eu, mattis est. Praesent sed volutpat nibh. Morbi faucibus tortor sed neque vulputate hendrerit. Sed aliquam mattis purus eleifend consectetur. Nulla mollis non enim non tempus.</p>
      </div>
      <div class="about__cont right">
        <img class="about__img" src="./images/about.png" alt="about">
      </div>
    </div>
  </div>
</section>
