<section class="banner">
  <div class="banner__wrapper">
    <div class="container">
      <div class="banner__content">
        <h1 class="banner__title">
          Integer bibendum sit amet arcu vel egestas.
        </h1>
        <div class="banner__boxes">
          <div class="banner__box">
            <img src="./images/staff1.png" alt="Banner1" />
            <p class="banner__box__desc">Service Name</p>
          </div>
          <div class="banner__box">
            <img src="./images/staff2.png" alt="Banner2" />
            <p class="banner__box__desc">Service Name</p>
          </div>
          <div class="banner__box">
            <img src="./images/staff3.png" alt="Banner3" />
            <p class="banner__box__desc">Service Name</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
