<section class="contact">
  <div class="container">
    <h3 class="contact__title">Convinced To Work With Us?</h3>
    <p class="contact__subtitle">Company has helped agencies keep their promises to clients since 2005.</p>
    <form class="contact__form">
      <div class="row col-3">
        <input type="text" class="form__elem" placeholder="Fullname" />
        <input type="text" class="form__elem" placeholder="Email Address" />
        <input type="text" class="form__elem" placeholder="Phone Number" />
      </div>
      <div class="row">
        <textarea class="form__elem textarea" id="message" rows="5" placeholder="Message in brief"></textarea>
      </div>
      <button type="submit" class="form__element submit">Submit</button>
    </form>
  </div>
</section>
