<footer class="footer">
  <div class="container">
    <div class="flex-container">
      <div class="footer__copyright">&copy; 2017 company. All Rights Reserved.</div>
      <div class="footer__links">
        <ul class="list__inline">
          <li class="list__item">Follow Us on: </li>
          <li class="list__item"><a href="#" title="Go to Facebook"><i class="fa fa-facebook-square"></i></a></li>
          <li class="list__item"><a href="#" title="Go to linkedin"><i class="fa fa-linkedin-square"></i></a></li>
          <li class="list__item"><a href="#" title="Go to twitter"><i class="fa fa-twitter"></i></a></li>
          <li class="list__item"><a href="#" title="Go to Email"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
