 <header class="header">
  <div class="container">
    <div class="flex-container">
      <div class="nav__mobile">
        <button id="navbar__toggle" class="navbar-toggle" type="button">
          <span class="fa fa-bars"></span>
        </button>
        <ul id="mobile__menu" class="nav__list">
          <li class="nav-item">
            <a title="About" href="#">About</a>
          </li>
          <li class="nav-item">
            <a title="Services" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a title="Solutions" href="#">Solutions</a>
          </li>
          <li class="nav-item">
            <a title="Blog" href="#">Blog</a>
          </li>
        </ul>
      </div>

      <div class="logo-wrapper">
        <a class="logo" title="home" href="#">
          <img src="./images/logo.png" alt="logo">
        </a>
      </div>

      <div class="navbar-wrapper">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav-item">
              <a title="About" href="#">About</a>
            </li>
            <li class="nav-item">
              <a title="Services" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a title="Solutions" href="#">Solutions</a>
            </li>
            <li class="nav-item">
              <a title="Blog" href="#">Blog</a>
            </li>
          </ul>
        </nav>
        <a class="button orange" title="Get in Touch" href="#">Get In Touch</a>
      </div>
    </div>
  </div>
</header>
