<section class="testimonials">
  <div class="container">
    <h3 class="testimonials__head">Testimonials</h3>
    <div class="testimonials__inner">
      <div class="item">
        <div class="card">
          <h3 class="card__title"><i></i>Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam. </h3>
        </div>
        <div class="author">
          <img alt="CLIENT NAME" src="./images/testimonial-user.png">
          <p class="testimonial-user">CLIENT NAME <br>
            <span class="user-position">Position, ORG</span>
          </p>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <h3 class="card__title"><i></i>Nunc ut ipsum iaculis, dictum magna id, lacinia ante. Nulla facilisi. Integer lobortis in risus eget volutpat. Donec interdum elit eget quam aliquam sodales. Vestibulum auctor auctor finibus.</h3>
        </div>
        <div class="author">
          <img alt="CLIENT NAME" src="./images/testimonial-user.png">
          <p class="testimonial-user">CLIENT NAME <br>
            <span class="user-position">Position, ORG</span>
          </p>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <h3 class="card__title"><i></i>Mauris id bibendum est. Proin dapibus sollicitudin iaculis. Maecenas condimentum maximus laoreet. In maximus euismod egestas.  </h3>
        </div>
        <div class="author">
          <img alt="CLIENT NAME" src="./images/testimonial-user.png">
          <p class="testimonial-user">CLIENT NAME <br>
            <span class="user-position">Position, ORG</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
